@import "tailwindcss";
@import "tw-animate-css";
@plugin "@midudev/tailwind-animations";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: Sans,system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #dde4e8;

  scrollbar-color: var(--primary) var(--secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.5rem;
  --text-base: #3f3f46;

  /* Convertidos de OKLCH a HEX */
  --background: #ffffff;
  --foreground: var(--text-base);

  --card: #ffffff;
  --card-foreground: #222230;

  --popover: #ffffff;
  --popover-foreground: #222230;

  --primary: #655dff;
  --primary-foreground: #f5f5ff;

  --secondary: #eeeef687;
  --secondary-foreground: #373741;

  --muted: #f7f7fa;
  --muted-foreground: #7e7e9a;

  --accent: #f7f7fa;
  --accent-foreground: #373741;

  --destructive: #c1451b;

  --border: #dadada;
  --input: #ebebf0;
  --input-soft: #ebebf08d;
  --ring: #655dff;

  --chart-1: #f1a12b;
  --chart-2: #3da3d9;
  --chart-3: #5c75f5;
  --chart-4: #f59d2a;
  --chart-5: #f2b429;

  --sidebar: #fafafa;
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100dvh;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100dvh;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

.dark {
  color-scheme: dark;
  --text-base: #d4d4d8;
  --background: #24262d;
  --foreground: var(--text-base);

  --card: #2a2c34;
  --card-foreground: #fafafa;

  --popover: #2a2c34;
  --popover-foreground: #fafafa;

  --primary: #7864ff;
  --primary-foreground: #cfcaff;

  --secondary: #35373f;
  --secondary-foreground: #fafafa;

  --muted: #35373f;
  --muted-foreground: #b3b3c3;

  --accent: #35373f;
  --accent-foreground: #fafafa;

  --destructive: #e05637;

  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --input-soft: rgba(255, 255, 255, 0.08);
  --ring: #7864ff;

  --chart-1: #7864ff;
  --chart-2: #4dd3d3;
  --chart-3: #f5d15c;
  --chart-4: #ae7cff;
  --chart-5: #f96f6f;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--secondary);
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--primary);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
